.bottom {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.image {
  @media only screen and (max-width: 992px){
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;

  }
  width: 550px;
  height: 550px;
  background-image: url("http://mamnoontogo.net/wp-content/uploads/2022/02/CareersImage.png");
  background-size: contain;
  margin: auto;
  margin-top: 45px;
}

.main-content {
  padding-top: 1.5vh;
  margin-top: 80px;
  height: 100%;
  padding-bottom: 20px;
  background-color: $nadi-white-color !important;
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 100%;
    offset: none;

  }
}

.main-content p {
  color: $nadi-black-color;
  text-align: left;
  margin-left: auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: auto;
  width: 40%;
  @media only screen and (max-width: 992px) {
    width: 90%;
  }
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.main-content h5 {
  color: $nadi-black-color;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 47px;
}

.main-content a {
  color: $nadi-black-color;
  text-decoration: underline;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.logos {
  width: 100%;
  display: inline-block;
}