.nowHiring {
  margin-top: 40px;
}
.container {
  text-align: center;
  display: contents;
}
.holderHanoon {
  background-color: #a2a3a4 !important;
  height: 100%;
  display: flex;
  height: 100%;
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 50%;
    width: 100vw;
  }
}
.logoHanoon {
  height: 224px;
  width: 224px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 60px;
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    align-content: center;
    margin-left: 45%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}
.col-md-4 {
  .locationHanoon {

    @media only screen and (max-width: 768px) {
      width: 180px;
    }
  }
  .locationHanoon p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    margin-left: 60px;
    color: $nadi-white-color !important;
  }
}
.hanoonJobs {
  margin-top: 80px;
  margin-right: 5vw;
  text-align: justify;
  .hanoon a {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-decoration-line: underline;
    color: #ffffff !important;
  }
  p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: $nadi-white-color;
  }
  .title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-decoration-line: underline;
    color: $nadi-white-color;
  }
  .listTitle {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500, bold;
    font-size: 36px;
    line-height: 40px;
    color: $nadi-white-color;
  }
  .listItem {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: $nadi-white-color;
    @media only screen and(max-width: 768px) {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-style: initial;
      font-weight: 500;
      font-size: 20px;
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
    }
  }
  @media only screen and (max-width: 768px) {
    left: -15px;
    margin-bottom: 10%;
    width: 100%;
    margin-left: 10%;
  }
}
