.container {
  text-align: center;
  display: contents;
}
.holderManna {
  background-color: $nadi-black-color !important;
  height: 100%;
  display: flex;
  height: 100%;
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 50%;
    width: 100vw;
  }
}
.logoManna {
  height: 224px;
  width: 224px;
  margin: auto;
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    align-content: center;
    margin-left: 45%;
  }
}
.col-md-4 {
  .locationManna p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: $nadi-white-color !important;
    @media only screen and (max-width: 768px) {
      width: 200px;
    }
  }
}
.mannaJobs {
  margin-top: 50px;
  text-align: justify;
  margin-right: 5vw;
  @media only screen and (max-width: 768px) {
    left: -15px;
    margin-bottom: 10%;
    width: 100%;
    margin-left: 55%;
  }
  .listItemManna {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $nadi-white-color !important;
  }
}
