.fl-right {
  float: right;
}

.menu-line-testing {
  border-bottom: 0 solid #ddd;
  padding: 10px 0 6px;
  margin: 6px 0;
}

#order-history {
  table {
    border-collapse: collapse;
    padding: 0;
    display: table;
  }

  table th,
  table tr {
    // display:table-cell;
    vertical-align: top;
  }

  .yellow-bg-test {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 5px);
    display: flex;
    align-items: center;
    margin: 5px;
    .content-box {
      background: transparent;
    }
  }
  .half-width2left {
    width: 65%;
    float: left;
    height: 140px;
    overflow: hidden;
  }

  .half-width2right {
    width: 35%;
    float: left;
    height: 140px;
    overflow: hidden;
  }

  .content-box .name,
  .content-box .food-description,
  .menu-header {
    text-transform: lowercase;
  }

  table td {
    display: table-cell;
    vertical-align: top;
  }

  li {
    border-bottom: 0 !important;
    position: relative;
  }

  .content {
    position: absolute;
    width: 400px;
    height: 400px;
    color: transparent;
    background-size: 100%;
    left: 50%;
    transform: translateX(-50%);
    // top: 30px;
    top: 20px;
  }

  table td div {
    height: 100%;
  }

  .w100 {
    width: 100%;
    display: inline-table;
  }

  .filtree-full-testing-favorites {
    width: calc(33% - 0px);
    float: left;
    height: 168px;
    background: transparent;
    padding: 0px;
    overflow: hidden;
    margin: 1px;
    padding-bottom: 5px;
  }

  .w100 {
    td.sm-cell {
      width: 5%;
      // display: inline-block;
    }

    td.lg-cell {
      width: 25%;
      // display: inline-block;
    }

    td {
      width: 15%;
      // display: inline-block;
    }
  }

  .content-box .name {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .content-box .name,
  .content-box .food-description,
  .menu-header {
    text-transform: lowercase;
  }

  .name {
    font-size: 0.9rem;
    font-weight: 600;
  }

  tr {
    border-bottom: 1px solid #cacaca;
  }

  tr td {
    padding: 18px 5px 10px 0px;
    // height: 56px;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;

    &.primary {
      background: #bfebbf;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.smblk {
  color: #000;
  font-size: 0.9rem;
}

ul.order-items {
  padding-left: 0;
  color: #000;
  font-size: 0.9rem;
  list-style: none;
  border-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .hide-mob {
    display: none !important;
  }

  .filtree-full-testing-favorites {
    width: 100%;
    float: left;
    height: 140px;
    background: transparent;
    padding: 0px;
    overflow: hidden;
    margin: 1px;
    padding-bottom: 5px;
  }

  .text-right-mob {
    text-align: right !important;
  }
}

.pad-yellow-background {
  // background: #fff367;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.container.pad-yellow-background {
  padding-left: 0 !important;
  padding-right: 0 !important;

  @media only screen and (max-width: 768px) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.giftcard-item.w100 td:first-child {
  padding-left: 0;
}

#order-history tr:last-child {
  border-bottom: 0;
}

.w-20 {
  width: 20% !important;
}

.w-5 {
  width: 5% !important;
}

.small-message {
  color: $nadi-red-color;
  color: #f58e58;
  font-size: 0.9rem;
  font-style: italic;

  &.grey {
    color: #343a40;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .w-20 {
    width: 30% !important;
  }
}

.orderDetail {
  display: none;
}

@media only screen and (max-width: 768px) {
  .orderDetail {
    display: inline;
  }
}

.backgroundImage {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.favOrderList {
  list-style-type: none;
  padding-left: 0;
  font-weight: 400;
}

.order-again-button {
  float: right;
  margin-right: 0;
  & {
    @extend %nadi-primary-alt-button;
  }
}