.packageList {
  list-style-type: none;
  li {
    width: 50%;
  }
}
.packageImage {
  width: 100%;
  margin-top: 10px;
  height: 200px;
  width: auto;
  @media only screen and (max-width: 1280px) {
    height: 200px;
    width: auto;
  }
}

.packageTile {
  width: 33%;
  float: left;

  @media only screen and (max-width: 1280px) {
    width: 100%;
  }

  .inside {
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    width: calc(100% - 20px);
    height: 250px;
    &.bigger {
      height: 400px;
    }

    p {
      margin-bottom: 0px;
    }
    @media only screen and (max-width: 1280px) {
      height: auto;
      padding-bottom: 20px;
    }

    overflow: scroll;
    // position: relative;

    // button{
    //       position: absolute;
    //   bottom: 0;
    //   left: 0;
    // }
  }
}

.packageTable {
  tr {
    margin-bottom: 10px;
  }

  td {
    vertical-align: top;

    vertical-align: top;
    border: 1px solid black;

    div {
      margin: 5px;
    }
  }
}
