.menuBar {
  // position: sticky;
  top: 132px;
  width: 100%;
  background: #ffffff;
  color: $nadi-red-color;
  z-index: 99;
  overflow: hidden;

  // margin-left: -15px;
  /* margin-right: -15px; */
  // width: calc(100% + 30px);

  @media only screen and (max-width: 992px) {
    // top: 0;
    top: 112px;
  }

  .relative {
    position: relative;
  }

  .inside {
    width: calc(100% - 40px);
    // background: green;
    float: right;

    a.scrollactive-item.nav-item {
      color: $nadi-red-color;
      font-size: 14px;
      margin-right: 10px;
      // border-bottom: 1px solid transparent;

      padding-bottom: 3px;
      line-height: 30px;
      &:hover {
        text-decoration: none;
      }

      transition: all 0.25s ease;
      text-transform: lowercase;
      &.is-active {
        // font-weight: 700;
        border-bottom: 2px solid $nadi-red-color;
      }
    }
  }
}

// .swiper-slide-active{
//   background: $nadi-red-color;

//      margin-left: 0px;
//      margin-right: 10px;
//      a{
//        margin-right: 0;
//      }

//    a.scrollactive-item.nav-item{
//      margin-left: 10px;
//      margin-right: 10px;
//        color: white !important;
//    }
// }

// .scrollactive-item.nav-item.is-active{
//   text-decoration: underline;
// }

.inside {
  // border-bottom: 1px solid #ddd;
  .scrollactive-nav {
    text-align: center;
    padding: 6px 0;
  }
}

.menuBar .relative .inside {
  .swiper-slide {
    width: auto !important;
  }

  .scrollactive-nav {
    width: calc(100% - 60px);
  }

  .inside-left {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 30px;
    left: 40px;
  }
  .inside-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 30px;
    // background:pink;

    .icono-arrow4-left {
      margin-left: 5px;
    }
  }
}

#swiperMenu {
  .swiper-wrapper {
    padding-left: 0px;
  }
}

#swiperMenu.morePadding {
  .swiper-wrapper {
    padding-left: 20px;
  }
}

.moreInfo {
  background: white;
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  text-align: center;
}

#swiperMenu {
  .swiper-slide.swiper-slide-active:first-child {
    margin-left: 0 !important;
  }
}

.swiper-slide {
  margin: 0 5px;
}
