.topSection {
  background-size: cover;
  margin-top: 92px;
}

.fh {
  // min-height: 80vh;
  min-height: 90vh;
}

.reserved {
  background: red;
}
.not-available {
  background: #666666;
  color: #ffffff;
  pointer-events: none;
}
.order-button {
  width: 33.33%;
  padding: 20px 0;
}
h4 {
  text-align: center;
}
.is-fullheight,
.familymeal,
.narrow {
  background-color: $nadi-red-color;
  h4 {
    color: #fff367;
    font-weight: bold;
  }
}
.section.hero.familymeal {
  width: 88%;
  margin: 0 auto;
}
.is-fullheight [id^="carousel_prev_"] {
  position: absolute;
  top: 14px;
  //  top: 110px;
  left: 20%;
  left: 30%;
  cursor: pointer;
  @media only screen and (max-width: 992px) {
    left: 5%;
  }
}
.is-fullheight [id^="carousel_next_"] {
  position: absolute;
  top: 14px;
  //  top: 110px;
  right: 20%;
  right: 30%;
  cursor: pointer;
  @media only screen and (max-width: 992px) {
    right: 5%;
  }
}
.is-fullheight {
  padding: 20px 0 0 0;
  // overflow: hidden;
}
.familymeal {
  padding: 0 0 0 0;
}
.order-bottom {
  background: #fff367;
  padding: 10px 0;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: lowercase;
}
.order-bottom.order-top {
  background: #f58e58;
  min-height: 90px;
  text-align: center;
}
.order-panel {
  padding: 10px 0;
}
#mama-dummy-button {
  width: 70px;
  margin: 0 auto;
}
.carousel {
  margin-bottom: 80px;
}
#testimonials .owl-item {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  margin-top: 10px;
  &:nth-child(odd) {
    background: #f58e58;
  }
  &:nth-child(even) {
    background: #f58e58;
  }
}
.owl-stage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.owl-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
}
#testimonials .owl-item .l-col {
  padding: 20px;
  text-align: left;
  padding-top: 15px;
  width: 100%;
  float: left;
}
#testimonials .owl-item .r-col {
  padding: 0px;
  // width: 50%;
  float: left;
  img {
    width: 100%;
  }
}
#testimonials .owl-item > div > div {
  text-align: left;
}
.xs {
  // font-size: 16px;
  font-size: 18px;
}
.sm {
  // font-size: 22px;
  font-size: 18px;
}
.md {
  font-size: 18px;
}
.lg {
  font-size: 64px;
}
.days {
  margin: 10px auto 5px;
  width: 80%;
}
.days span {
  color: white;
  display: inline-block;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 30px;
  cursor: pointer;
}
.month {
  color: white;
  display: inline-block;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
  // line-height: 30px;
  cursor: pointer;
}
.insideHeader {
  margin-bottom: 20px;
  margin-top: -15px;
}
button.snipcart-add-item {
  border: 0;
  background: transparent;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
.snipcart-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110 !important;
  background-color: #f0f5f6;
  // top: 140px !important;
  top: 90px !important;
  top: 0 !important;
}
.top-widget {
  width: 100%;
  height: 500px;
  background: green;
}
.coverflowsection {
  padding: 0 0 20px 0;
  margin-bottom: 80px;
  background-color: $nadi-red-color;
  overflow: hidden;
  position: relative;
  h4 {
    color: #fff367;
    font-weight: bold;
  }
  p {
    color: white;
    width: 80%;
    margin: 10px auto 10px;
    text-align: center;
  }

  // margin-top: 90px;

  width: 70%;

  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 960px) {
  .coverflowsection {
    // height: 660px;
    // height: 880px;
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .coverflowsection {
    // height: 660px;
    // height: 800px
    //  height: 880px;
  }
}
@media only screen and (max-width: 480px) {
  .coverflowsection {
    // height: 880px;
    // height: 804px;
  }
}
.bottom-button {
  // position: absolute;
  // bottom: 0;
  // background: #FFF367;
  // width: 100%;
  // padding: 10px 0;

  position: absolute;
  bottom: 0;
  background: #fff367;
  width: 100%;
  padding: 10px 0;
  // height: 120px;
  height: 110px;
  a {
    position: absolute;
    // width: 100%;
  }
  display: none;
}
.width-container {
  width: 100%;
  overflow: auto;
}
section {
  clear: both;
}
.shortcarousel {
  margin-bottom: 80px;
}
.description-para {
  color: white;
  margin: 12px auto 20px;
  width: 80%;
  text-align: center;

  @media only screen and (max-width: 992px) {
    width: 90%;
    font-size: 12px;
  }
}

.quote-container {
  // position: relative;
  // height: 100%;
  // width: 100%;
  // padding-bottom: 80px;
  position: relative;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  // padding-bottom: 80px;
  text-align: center;
}
.quote-author {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff367;
}
.itemDescription {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff367b5;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
  .text-box {
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
    font-size: 36px;
    margin-top: 100px;
  }
}
.relative-pos {
  position: relative;
  overflow: hidden;
  &:hover {
    .itemDescription {
      opacity: 1;
    }
  }
}

.tesstimonialItem {
  text-align: center;
  margin-top: 0px;
  width: 100% !important;
}

#mama-shop .carousel {
  margin-bottom: 20px;
}

.owl-item > div {
  width: 100%;
}

#testimonials {
  .owl-carousel {
    margin-top: -10px;
  }
}

#testimonials {
  .quote-container {
    // height: 200px;
    min-height: 60px;
    position: relative;

    .md,
    .xs {
      position: absolute;
      top: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      width: 100%;
      font-size: 20px;
      color: $nadi-red-color;
    }
  }
}

ul.upserve-cats li {
  display: inline;
}

.filtree-half {
  width: 50%;
  float: left;
  // height: 300px;
  // height: 220px;
  height: 140px;
  background: transparent;
  // margin: 5px;
  padding: 0px;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  .grey-bg {
    //  padding: 5px;
    // background: #fff367;
    background: #ffffff;
    // padding: 10px 5px;
  }
}
.filtree {
  //   width: 50%;
  //   float: left;
  //   height: 300px;
  // background: #ddd;
  // margin: 5px;
  // padding: 5px;

  width: 30%;
  float: left;
  height: 300px;
  background: #ddd;
  margin: 5px;
  padding: 5px;
  overflow: hidden;

  @media only screen and (max-width: 1080px) {
    width: 50%;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .coverflowsection {
    // height: 814px;
  }
}

@media only screen and (max-width: 768px) {
  .coverflowsection,
  .mb-80 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .coverflowsection {
    // height: 745px;
  }
}

.intro-paragraph-header {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: $nadi-red-color;
}

.intro-paragraph {
  font-size: 14px;
  color: $nadi-red-color;
}
.rollbar {
  position: fixed;
  width: 100%;
  min-height: 90px;
  background: green;
  top: 142px;
  left: 0;
  z-index: 100;
  padding: 10px 0;
}

@media only screen and (max-width: 1080px) {
  .rollbar {
    top: 92px;
  }
}

@media only screen and (max-width: 992px) {
  .rollbar {
    top: 92px;
  }
}

.orange-button {
  padding: 20px;
  background: #f58e58;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
  }
}

.container.mt-5.mobilePage {
  margin-top: 3rem !important;
  padding-top: 100px;

  @media only screen and (max-width: 992px) {
    // padding-top:0px;

    margin-top: 1rem !important;
  }
}

.header-p {
  font-size: 28px;
  line-height: 40px;
  width: 100%;
  padding: 0 0 10px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: left;
}

.header-p-box {
  width: 300px;
  margin: 0 15px;

  @media only screen and (max-width: 768px) {
    // width: 100%;
  }
}

.pt132 {
  padding-top: 132px;
}

.restaurantLogo {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 80vh;

  svg {
    // width: 500px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.half-panel {
  width: 50%;
  float: left;
  padding: 50px;
  &.with-background {
    background-size: cover;
    background-position: center center;
    padding: 36px;
  }
  h3 {
    width: 300px;
  }

  &.right {
    height: 100vh;
    padding: 0px;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    float: left;
    padding: 50px;
    &.with-background {
      background-size: cover;
      background-position: center center;
      padding: 16px;
    }
    h3 {
      width: 300px;
    }

    &.right {
      min-height: 250px !important;
      padding: 16px !important;
      height: auto !important;
    }

    &.right > div {
      bottom: 16px !important;

      width: calc(100% - 32px);
    }
  }
}

.secPad {
  padding: 60px 0;

  // padding: 46px 0 0;

  @media only screen and (max-width: 768px) {
    padding: 20px 16px;
  }
}

.secPadSmall {
  padding: 46px 0;
}

.map iframe {
  width: 300px;
  height: 280px;
  border: 1px solid;
  border-radius: 10px;
  // float: right;

  @media only screen and (max-width: 768px) {
    width: 100%;
    float: none;
  }
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

.socialLink {
  display: inline-block;
  margin: 0 20px;

  @media only screen and (max-width: 768px) {
    margin: 0 20px;
  }
}

.header-notification {
  background-color: #000582;
  color: #ffffff;
  position: absolute;
  top: 90px;
  z-index: 99;
  width: 100%;
  padding: 30px 0;

  @media only screen and (max-width: 768px) {
    padding: 10px 0;
  }
}

.imagePanel {
  background: red;
  color: transparent;
  width: calc(100% - 72px);
  height: 100%;

  background-size: cover;
  background-position: center center;
  height: 100vh;

  @media only screen and (max-width: 768px) {
    height: 300px;
  }
}

.dismissNotification {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}

a.ctaLink,
a.ctaLinkOpposite {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin: 23px 0 0;
  text-align: center;
  padding: 3px 10px 5px;
  font-size: 22px;
  font-weight: 500;

  & {
    @extend %nadi-secondary-alt-button;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.flexSection {
  // display: inline-flex;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

section {
  overflow-x: hidden;
}

.social-text {
  text-align: right;
  @media only screen and (max-width: 768px) {
    text-align: center;
    margin-bottom: 12px;
  }
}

.social-icons {
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

.noPadMob {
  @media only screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

a.ctaLink {
  color: var(--button-color);
  background-color: #fff;
  text-decoration: none;

  &:hover {
    background-color: var(--button-color);

    color: #fff;
    // border-color: var(--button-border-color--hover);
  }
}

a.ctaLinkOpposite {
  color: var(--button-color);
  background-color: #fff;
  text-decoration: none;

  &:hover {
    // color: #fff;
    background-color: var(--alternate-color);

    //  background-color: var(--button-color);

    // border-color: var(--button-color);
  }
}

.sidebox {
  width: 300px;
  position: absolute;
  bottom: 0px;
  margin: 34px 0;

  &.right {
    right: 0;
  }

  @media only screen and (max-width: 768px) {
    position: initial;
    width: 100%;
  }
}

.infoPoints {
  display: inline-block;
  width: 100%;

  font-size: 18px;
  font-weight: 600;
  // margin-bottom: 24px;

  margin-bottom: 45px;
  &.mb0 {
    margin-bottom: 0;

    @media only screen and (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  @media only screen and (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.iconPoint {
  width: 40px;
  float: left;
  height: 60px;
  display: inline-block;

  margin-right: 20px;
}

.headerNotification {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.notificationModule {
  h3 {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    line-height: 37px;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.full-width-background {
  height: 100vh;
  @media only screen and (max-width: 768px) {
    height: 500px;
    min-height: 500px;
  }
}

.topSection {
  @media only screen and (max-width: 768px) {
    height: 500px;
    min-height: 500px;
  }
}

.restaurantLogo {
  @media only screen and (max-width: 768px) {
    height: 500px;
    min-height: 500px;

    svg {
      width: 50%;
    }
  }
}

.rightContactCol {
  @media only screen and (max-width: 768px) {
    margin: 0 15px;
  }
}

.socialBox {
  background-color: #fff;
  border-radius: 6px;
  padding: 30px 0;

  @media only screen and (max-width: 992px) {
    padding: 20px 0;
  }
}

.centerMobile {
  text-align: center;
}

.mapAddress {
  padding-left: 15px;
  padding-top: 15px;
  position: relative;
  display: inline-block;
  width: 200px;

  @media only screen and (max-width: 992px) {
    padding-left: 0;
    padding-top: 0;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.mapAddressBox {
  width: 100%;
  position: absolute;
  bottom: 0;
  @media only screen and (max-width: 1200px) {
    position: initial;
  }

  @media only screen and (max-width: 992px) {
    position: initial;
    padding: 20px 30px 15px;
    padding: 20px 15px 15px;
    // margin-bottom:240px;
  }
}

.mapBox {
  display: inline-block;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 30px);
  }
}

.mapBoxOuter {
  margin-bottom: 40px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 0px;
  }
}

.socialLinkButtons {
  display: inline-block;
  margin-right: 30px;
}

.header-notification-image {
  display: inline;
}

.header-notification-image img {
  width: 100px;
  // float: left;

  @media only screen and (max-width: 768px) {
    width: 50px;
  }
}

.header-notification-wrapper {
  // height: 100px;
}

.header-notification-image {
  display: inline-block;
  margin-right: 10px;
  height: 100px;
  width: 100px;

  img {
    width: 100%;
  }
}

.header-notification-text {
  // display: inline-block;
  margin: 0 10px;
  // height:100px;
  font-size: 18px;
  text-align: center;

  a {
    background: white;
    padding: 3px 10px;

    margin: 10px auto 0;
    color: black;
    border-radius: 5px;
    width: fit-content !important;
    &:hover {
      text-decoration: none;
      background: rgb(241, 93, 88);
    }
  }

  .ctaDiv {
    display: block;
    padding-top: 5px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 16px;

    a {
      font-size: 16px;
    }
  }
}
