// Variables coming through from _variables.scss (use as guide for styling)

%nadi-primary-button {
  background: $nadi-red-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-white-color;
  border: $nadi-button-border;
  &:hover {
    background: $nadi-black-color !important;
    color: $nadi-white-color !important;
    border: 1px solid black !important;
  }
}

%nadi-primary-alt-button {
  background: $nadi-red-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-white-color;
  border: $nadi-button-border !important;
  &:hover {
    background: $nadi-white-color !important;
    color: $nadi-red-color !important;
    border: $nadi-button-border !important;
  }
}

%nadi-secondary-button {
  background: $nadi-white-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-red-color;
  border: $nadi-button-border;
  &:hover {
    background: $nadi-red-color !important;
    color: $nadi-white-color !important;
  }
}

%nadi-secondary-alt-button {
  background: $nadi-white-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-black-color;
  border: none !important;
  &:hover {
    background: $nadi-black-color !important;
    color: $nadi-white-color !important;
  }
}

%nadi-tertiary-button {
  background: $nadi-red-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-white-color;
  border: none !important;
  &:hover {
    background: $nadi-white-color !important;
    color: $nadi-red-color !important;
    border: none !important;
  }
}

%nadi-link-button {
  border: none !important;
  border-radius: none !important;
  background-color: none !important;
  background: none !important;
  color: $nadi-red-color !important;
  font-family: 'Helvetica Neue' !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 36px !important;
  &:hover {
    color: $nadi-black-color !important;
  }
}

%nadi-link-alt-button {
  border: none;
  border-radius: none;
  background-color: none;
  background: none;
  color: #000000;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
}

%nadi-disabled-button {
  border-radius: $nadi-button-border-radius !important;
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  pointer-events: none;
}