// Variables coming through from _variables.scss (use as guide for styling)

%nadi-primary-button {
  background: $nadi-red-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-white-color;
  border: $nadi-button-border;
  &:hover {
    background: $nadi-black-color !important;
    color: $nadi-white-color !important;
    border: 1px solid black !important;
  }
}

%nadi-primary-alt-button {
  background: $nadi-red-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-white-color;
  border: $nadi-button-border !important;
  &:hover {
    background: $nadi-white-color !important;
    color: $nadi-red-color !important;
    border: $nadi-button-border !important;
  }
  
}

%nadi-secondary-button {
  background: $nadi-white-color;
  border-radius: $nadi-button-border-radius !important;
  color: $nadi-red-color;
  border: $nadi-button-border;
  &:hover {
    background: $nadi-red-color !important;
    color: $nadi-white-color !important;
  }
}
